<%= form_with model: @article, local: true do |form| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </div>
      <blockquote>
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </blockquote>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :text %>
    <%= form.text_area :text, class: "form-control" %>
  </div>

  <%= form.submit :Submit, class: "btn btn-success" %>

<% end %>